 
.App {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: "Nunito Sans", sans-serif;
}

.banner{
    
    height:200px;
    background-image: url(../public/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.titre{
    text-align: center;
    border-bottom: 2px solid blue;
    padding: 20px;
    margin-bottom: 50px;
}
