.Hero{
    display: flex;
    flex-direction: column;
    background-image: url(../../public/images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 1100px;
    opacity:0,8;
    justify-content: center;
    align-items: center;
    color: white;
}


.home-page .container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
    
    padding: 40px;
    
}

.titre-a-propos, .titre-competences{
    border-bottom: 2px solid blue ;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.about-picture{
    width: 100%;
    height:300px;
    background-image: url(../../public/images/john-doe-about.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}