@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


.carte-portfolio {
    text-align: center;
    margin-bottom: 20px;
}

.carte-portfolio:hover  {
    background-color: #efefef;
    box-shadow: 5px 5px 5px;
}

